/* general style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 900px;
    margin: 50px auto;
}

/* products grid */

.col{
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px 30px;
    padding: 0 4px;
}

.product{
    width: 300px;
    height: 400px;
    margin-bottom: 10px;
    background-size: cover;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.product img{
    width: 100%;
}

.heart{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 5px;
    background-color: white;
    text-align: center;
    line-height: 30px;
    
}

.discount{
    background-color: red;
    color: white;
    position: absolute;
    bottom: 0;
    left : 5px;
    padding: 2px 2px;
}

.sustainability{
    background-color: green;
    color: white;
    position: absolute;
    bottom: 0;
    left : 40px;
    padding: 2px 2px;
}

.sustainability-1{
    background-color: green;
    color: white;
    position: absolute;
    bottom: 0;
    left: 5px;
    padding: 2px 2px;

}

.brand{
    font-size: 10px;
    color: grey;
}

.price{
    color: red;
}

.product:last-child{
    font-size: 12px;
    margin-bottom: 80px;
}






